# Local Python environment
.venv/

# West workspace metadata
.west/

# Zephyr checkout created by `west init` in this repo
tools/zephyr/

# West imported projects in this workspace
bootloader/
modules/
tools/edtt/
tools/net-tools/
samples/*/modules/

# Build output
build/
build_*/
twister-out/
twister-out.*/
flash.bin

# Editor/OS noise
.vscode/
*.swp
*.swo
.DS_Store
